@charset "UTF-8";
	section {
		width: 1200px;
		margin: auto;
	}
	
	#ReviewPage_Container {
		margin: 10px;
	}
	
	.Review_Row{
		margin: 5px ,0px;
	}
	
	.title {
		font-weight: bold, 700;
		font-size: 18px;
		padding: 15px;
	}
	
	.title img{
		float: right;
		position: relative;
		width: 20px;
		padding: 3px;
	}
	
	.image_wrap{
		height: 120px;
	}
	
	.image_wrap div{
		float: left;
	}
	
	.review_image{
		height: 120px;
		width: 120px;
		overflow: hidden;
		margin: 0px 10px 10px 0px;
		border-radius : 20px;
	}
      
    .date {
    	color: #CACACA;
    	text-align: right;
    	padding: 5px;
    } 
      
    .button_wrap {
     	padding: 5px;
      	text-align: right;
    }
    
    .button_wrap div {width: 100px;}
    
    a { color: #000; text-decoration: none; font-weight:bold;}
    a:hover {text-decoration: underline;} 
     
      
     

	
	