<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hago.getcha.restManagement.dao.IRestManagementDAO">
	<insert id="restRegister" parameterType="com.hago.getcha.restManagement.dto.RestaurantDTO">
		INSERT INTO restaurant(restnum, restname, restintro, zipcode, address, dong, type, capacity, promotion, registerDate) 
		VALUES(#{restNum}, #{restName}, #{restIntro}, #{zipcode}, #{address}, #{dong}, #{type}, #{capacity}, #{promotion}, sysdate)
	</insert>
	
	<insert id="addFacilities" parameterType="com.hago.getcha.restManagement.dto.FacilitiesDTO">
        INSERT INTO facilities VALUES (#{restNum}, #{facility})
 	</insert>
 	
 	<insert id="addOpenHour" parameterType="com.hago.getcha.restManagement.dto.OpenHourDTO">
        INSERT INTO openhour VALUES (#{restNum}, #{weekSelection}, #{daySelection}, #{hours})
 	</insert>

 	<insert id="addRestImage" parameterType="com.hago.getcha.restManagement.dto.RestImageDTO">
        INSERT INTO restimage VALUES (#{restNum}, #{restImage})
 	</insert>
 	
 	<insert id="addMenu" parameterType="com.hago.getcha.restManagement.dto.MenuDTO">
        INSERT INTO specialmenu VALUES (#{restNum}, #{category}, #{menuName}, #{menuDescript}, #{unitPrice}, #{menuImage})
 	</insert>
 	
 	<insert id="addWholeMenu" parameterType="com.hago.getcha.restManagement.dto.WholeMenuDTO">
        INSERT INTO wholemenu(restnum, wholemenu) VALUES (#{restNum}, #{wholeMenu})
 	</insert>

 	<update id="addRepresentImage" parameterType="com.hago.getcha.restManagement.dto.RestaurantDTO">
        UPDATE restaurant SET representimage=#{representImage} WHERE restnum=#{restNum}
 	</update>
</mapper>