@charset "UTF-8";
	header, #container {width:950px; margin:auto;}
	.restTitle {display: flex; height:50px;}
	#restName {margin-top:4px; padding:2px;}
	#collect_btn {background-color: white; padding :0; border: 0; outline: none; height: 50px; width:50px;}
	#collect_btn:active {margin-left: 5px; margin-top: 5px; box-shadow:none;}
	#collect_btn img {width: 30px;}
	#share_btn {background-color: white; padding :0; border: 0; outline: none; text-align: right;}
	#share_btn:active {margin-left: 5px; margin-top: 5px; box-shadow:none;}
	.carousel-item {height: 500px; width:450px;}
	.carousel-item img {height:auto;}
	.cntReview img {width: 20px;} 
	.cntCollection img {width: 20px;} 
	.status_branch span {margin-right: 5px;}
	.status_branch img {margin-right: 5px;}
	#rest_detail {border-spacing: 5px;}
	.facil_wrap div {margin-right: 5px;}
	facil_wrap div {text-align:center;}
	#reviewList {border-top: 2px solid; border-bottom: 2px solid; border-spacing: 5px 10px; width: 700px;}
	.cap {caption-side: top; text-align: right; font-size: 13px; color: #8C8C8C}
	.review_image {height:100px; width:100px; overflow:hidden; border-radius : 20px; float:left; margin-right:5px;}
	ul {list-style-type:none;}
	ul li{float:left; margin-right:5px;}
	.date_row {height:40px; margin:0;}
	.date_row p {font-size: 15px; color: #CACACA; text-align: right; padding-right: 5px;} 
	.line {margin:0; padding:0;}
	a {text-decoration: none;}
    a:hover {text-decoration: underline;}
    #sidebar{left:-250px;}